<div class="student-container">
    <div>
        <button (click)="newStudent()"> Create Student</button>
    </div>

    <h2 style="text-align: center;">LIST STUDENTS</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Career</th>
        </tr>
        <tr *ngFor="let student of students; index as i">
            <td>{{ i }}</td>
            <td>{{ student.userName }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.career }}</td>
        </tr>
    </table>
</div> 

